<h1>Shortyfyed urls</h1>
<% @urls.each do |url| %>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Shortened URL</th>
			<th>Original URL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= link_to url.random_id, url_path(:id => url.random_id) %>
			</td>
			<td>
				<%= url.original %>
			</td>
		</tr>
	</tbody>
	
</table>

<% end %>

<%= link_to "Shortyfy another url", new_url_path, class: "btn  btn-success" %>



<div class="row">
	<div class="col-md-4">
		<h2>Info here</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		</p>
		<p>
			<a class="btn btn-default" role="button" href="#">
			View details »

			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Info here</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		</p>
		<p>
			<a class="btn btn-default" role="button" href="#">
			View details »

			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Info here</h2>
		<p>
			Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
		</p>
		<p>
			<a class="btn btn-default" role="button" href="#">
			View details »

			</a>
		</p>
	</div>
</div>