@import 'bootstrap';
.container {
	width: 970px;
	max-width: 730px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	margin-bottom: 30px;
}

.jumbotron {
	text-align: center;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 48px;
	padding-bottom: 48px;
}

.footer {
	text-align: center;
}
